---
import LinkButton from "@/components/common/LinkButton.astro";
import { iconNames } from "@/config";
import type { Project } from "@/types";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

type Props = Project;
const { title, description, tags, image, kind, link, repo } = Astro.props;
---

<article class="card bg-base-100 shadow-lg">
    <figure class="bg-base-300">
        <Image class="object-cover" src={image} alt={title} />
    </figure>

    <div class="card-body flex-col-reverse">
        <div class="flex">
            <div class="card-actions justify-end">
                <LinkButton
                    class="btn-secondary btn-sm px-14"
                    href={link}
                    target="_blank"
                >
                    <Icon name="fa:external-link" size={16} />
                </LinkButton>
                <LinkButton
                    class="btn-secondary btn-sm px-14"
                    href={repo}
                    target="_blank"
                >
                    <Icon name="fa:github" size={16} />
                </LinkButton>
            </div>
        </div>
        <div class="flex-1">
            <h2 class="card-title text-2xl">
                {title}
            </h2>
            <p class="text-left text-lg">{description}</p>
        </div>
        <div class="card-actions justify-between items-center">
            <div class="flex flex-row gap-2">
                {
                    tags.map((tag) => (
                        <span class="badge badge-primary gap-2">
                            <Icon name={`devicon:${tag}`} />
                            {iconNames[tag as keyof typeof iconNames]}
                        </span>
                    ))
                }
            </div>
            <div>
                <div class="badge badge-lg badge-primary rounded-xl px-6">
                    {kind}
                </div>
            </div>
        </div>
    </div>
</article>
