---
import { getCollection } from "astro:content";
import SidebarCard from "./cards/SidebarCard.astro";
import ThemeController from "./ThemeController";
import Logo from "./icons/Logo";
import { importantLinks } from "../config";

const socials = [
	{
		name: "Twitter",
		icon: "x",
		link: "https://x.com/lajbel",
	},
	{
		name: "LinkedIn",
		icon: "linkedin",
		link: "https://linkedin.com/in/lajbel",
	},
	{
		name: "GitHub",
		icon: "github",
		link: "https://github.com/lajbel",
	},
];

const allTutorialPosts = await getCollection("tutorial");
---

<div class="drawer lg:drawer-open h-full">
	<input id="mydraw" type="checkbox" class="drawer-toggle" />
	<label for="mydraw" class="btn btn-ghost lg:hidden fixed z-10">
		<i class="ljicon-bars text-2xl text-primary top-4 left-4"></i>
	</label>

	<div class="drawer-content w-full">
		<slot />
	</div>
	<div class="drawer-side h-dvh" data-theme="light">
		<label for="mydraw" aria-label="close sidebar" class="drawer-overlay"
		></label>

		<div class="p-3 w-80 min-h-full bg-primary text-center text-white">
			<div class="absolute" transition:persist>
				<ThemeController client:visible />
			</div>

			<a href="/" class="btn btn-ghost h-fit w-fit flex-col">
				<Logo className="fill-current" />

				<p class="text-lg">the online space</p>
			</a>
			<ul class="menu menu-horizontal justify-center">
				{
					socials.map((social) => (
						<li class="text-white text-2xl">
							<a href={social.link} target="_blank">
								<i class={`ljicon-${social.icon}`} />
							</a>
						</li>
					))
				}
			</ul>
			<nav>
				<ul class="menu">
					{
						importantLinks.map((link) => (
							<li class="text-lg">
								<a
									class="justify-center uppercase"
									href={link.link}
								>
									{link.title}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
			<p class="text-xl uppercase my-4">Latest Tutorials</p>
			<ul class="justify-center">
				{
					allTutorialPosts.map((post) => (
						<li>
							<SidebarCard
								title={post.data.title}
								image={post.data.image}
								link={`/tutorial/${post.slug}`}
							/>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</div>

<style>
	#mydraw:checked ~ label {
		display: none;
	}
</style>
