---
interface Props {
    title: string;
    image: string;
    link: string;
    target?: string;
}

const { title, image, link, target } = Astro.props;
---

<a href={link} target={target}>
    <article class="card card-compact bg-base-100 image-full h-24 up-on-hover">
        <figure>
            <img class="object-cover w-full h-full" src={image} alt={title} />
        </figure>
        <div class="card-body justify-center items-center">
            <span class="card-title">
                {title}
            </span>
        </div>
    </article>
</a>
