---
import Base from "@/layouts/Base.astro";
import type { PropsWithT } from "@/types";
import type { CollectionEntry } from "astro:content";

type Props = PropsWithT<{
    post: CollectionEntry<"tutorial"> | CollectionEntry<"blog">;
}>;

const { post, t, lang } = Astro.props;
const { data, body } = post;
---

<Base
    {lang}
    {t}
    meta={{
        title: data.title,
        description: body,
    }}
>
    <header
        class={`flex w-full pt-8 xl:pt-0 xl:max-h-40 bg-base-300 bg-cover xl:justify-center`}
        style={{
            "background-image":
                `linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("${data.image}")`,
        }}
    >
        <div
            class={`flex flex-col h-full xl:min-w-[800px] px-4 py-4 xl:px-0 text-white justify-end gap-2`}
        >
            <h1 class="text-3xl font-bold">{data.title}</h1>
            <ul class="flex gap-1 flex-wrap">
                {data.tags.map((tag) => <div class="badge">{tag}</div>)}
            </ul>
            <p>
                {data.date.toString().slice(0, 10)}, Daniel Báez
            </p>
        </div>
    </header>
    <div class="flex xl:justify-center p-4">
        <main
            class="prose prose-lg prose-a:text-primary xl:max-w-[800px] max-w-full"
        >
            <slot />
        </main>
    </div>
</Base>
